{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>Interface</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="{% static 'dataApp/css/option1.css' %}" />
	<link rel="stylesheet" href="{% static 'dataApp/css/option2.css' %}" />
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
</head>

<script>
	var dataRetrieve = "{% url 'latestDataEntry'%}";
	var urlVarList = "{% url 'varliableList' %}";
	var urlData = "{% url 'retrieveData' %}";
</script>

<body>

<!-- Start of first page -->
<div data-role="page" id="option1">
	<!-- header -->
	<div data-role="header">

		<div class="ui-field-contain">
			<h1 align="center">Gambit Challenge</h1>
		</div>

		<!-- navbar -->
		<div data-role="navbar">
			<ul>
				<li><a href="#option1" class="ui-btn-active">Option 1</a></li>
				<li><a href="#option2">Option 2</a></li>
			</ul>
		</div>	<!-- /navbar ends-->
	</div> <!-- header ends -->

	<!-- Content of the page -->
	<div role="main" class="ui-content">
		<h3>Live Data</h3>
		<table>
			<thead>
				<tr>
					<th>Variables</th>
					<th>Modbus Reading</th>
      				<th>Human Reading</th>
    			</tr>
			</thead>
			<tbody id="tbody"></tbody>
		</table>
	</div><!-- content ends -->

</div> <!-- first page ends -->

<!-- Start of second page -->
<div data-role="page" id="option2">
	<!-- header -->
	<div data-role="header">
		
		<div class="ui-field-contain">
			<h1 align="center">Gambit Challenge</h1>
		</div>

		<!-- navbar -->
		<div data-role="navbar">
			<ul>
				<li><a href="#option1">Option 1</a></li>
				<li><a href="#option2" class="ui-btn-active">Option 2</a></li>
			</ul>
		</div>	<!-- /navbar ends-->
	</div> <!-- header ends -->

	<!-- Content of the page -->
	<div role="main" class="ui-content">
		<h3>Visualization</h3>
		<form>
			<label>
				<input type="radio" name="radio-choice-0" id="radio-choice-0a">Modbus' Register Data
			</label>
    		<label for="radio-choice-0b">Human Readable Data</label>
    			<input type="radio" name="radio-choice-0" id="radio-choice-0b" class="custom">
		</form>

		<form>
			<div class="ui-field-contain">
				<label for="select-native-2">Pick your variable:</label>
				<select id="selector" name="selector" data-mini="true"></select>
			</div>
		</form>

		<input type="button" data-inline="true" value="Plot" onclick="plotButtonClicked()">
		<div role="main" class="ui-content" id="d3js_Plot"></div>
	</div><!-- content ends -->

</div> <!-- second page ends -->

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="{% static 'dataApp/js/option1.js' %}"></script>
<script src="{% static 'dataApp/js/option2.js' %}"></script>
</body>
</html>