{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>Interface page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="{% static 'option1/css/interface.css' %}" />
</head>

<script>
	var dataRetrieve = "{% url 'dataConversion'%}";
</script>

<body>
	<h1>
		Data will be shown here.
	</h1>

	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="{% static 'option1/js/interface.js' %}"></script>
</body>
</html>