{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>Testing page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="{% static 'option2/css/test.css' %}" />

</head>

<body>
	<form><select id="selector" name="selector"></select></form>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="{% static 'option2/js/test.js' %}"></script>
</body>
</html>